[web]
	browser = open
[user]
	name = Keyan Pishdadian
	email = kpishdadian@gmail.com
[push]
	default = current
[help]
        autocorrect=1
[alias]
    co = checkout
    cob = checkout -b
    b = branch
    amend = commit --amend --no-edit
    save = !git add -A && git commit -m 'SAVEPOINT'
    fixup = "!f() { git commit --fixup=\"$1\" && git rebase --autosquash -i \"$1\"~1; }; f"
    ds = diff --staged
[commit]
	gpgsign = true
[url "git@github.com:"]
	insteadOf = https://github.com/
