[web]
	browser = open
[user]
	name = Keyan Pishdadian
	email = kpishdadian@gmail.com
[push]
	default = current
[help]
        autocorrect=1
[alias]
    cob = checkout -b
    co = checkout
    b = branch
    amend = commit --amend --no-edit
    save = !git add -A && git commit -m 'SAVEPOINT'
    fixup = "!f() { git commit -n --fixup=\"$1\" && git rebase --autosquash -i \"$1\"~5; }; f"
    ds = diff --staged
    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
    ignored = !git ls-files -v | grep "^[[:lower:]]"
[url "git@github.com:"]
	insteadOf = https://github.com/
